body {
  margin: 0;
  font-family: "Times New Roman", Times, serif;
  background-color: #eeeeff;
  color: #222
}

.mainparagrph{
    text-align: justify;
    margin: 40px 50px;
    font-size: 18px;
}

a {
  color: #333;
  }

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 35px;
    text-align: left;
    margin: 20px 50px;
    color: #800020
}
h3 {
  font-family: Arial, Helvetica, sans-serif;
  }
#header-image{
    width: 100%;
    height: auto;
    margin: 0px 0px 0px 0px;

}

footer{
    text-align: right;
    margin-right: 300px;
    margin-bottom: 100px;
    font-size: 10px;
}

#footerline{
    border-radius: 3px;
    margin-left: 300px;
    margin-right: 300px;
}

main.main {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.main section {
    flex: 80%;
}

.main aside {
  flex: 15%;
  padding: 20px;
}

.main aside ul, aside h3{
  margin-left: 20px;
  padding-left: 0;
}

.main aside li{
    list-style: none;
    font-size: 15px;
}

.gallery {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: left;
    padding-left: 50px;
    flex-direction: row;
}

.gallery img{
    height: 200px;
    margin: 3px;
}
